body {
    font-family: sans-serif;
    background-image: url("");
    background-size:1300px 700px;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}


.jumbotron {
    padding-top: 30px;
    padding-bottom: 250px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}

           

           
           
           
