body {
    font-family: sans-serif;
    background-image: url("http://img02.deviantart.net/d3b9/i/2013/329/7/3/random_trippy_background_by_lunaspectrum-d6vl1y2.png");
    background-size:1300px 700px;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container{
                 max-width: 800px;
                 margin: 0 auto;
                 color: #b3a451;
                 font-family: sans-serif;
                 padding-top: 20px;
                 padding-right: 20px;
                 padding-left: 20px;
           }