body {
    font-family: sans-serif;
    background-image: url("");
    background-size:1300px 700px;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container{
                 max-width: 800px;
                 margin: 0 auto;
                 color: #0c0b03;
                 font-family: sans-serif;
                 padding-top: 20px;
                 padding-right: 20px;
                 padding-left: 20px;
}
           


           
           
           
