

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container{
                
                 margin: 0 auto;
                 color: #0c0b03;
                 font-family: sans-serif;
                 padding-top: 20px;
                 padding-right: 20px;
                 padding-left: 20px;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 300px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}

.navbar-inverse {
    background-color: #1b1f17;
    border-color: #1b2f16;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
 
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #333;
    background-color: #fff;
}           
nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a {
  padding: 10px 0;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}
nav ul li a:hover {
  color: #34495E;
}
.active {
  border-bottom: 2px solid #ecf0f1;
}

           
           
           
